{# {% extends 'base.html.twig' %} #}

{# {% block title %}Edit Posts{% endblock %} #}
{# {% block nav %}{% endblock %} #}
{# {% block body %} #}
    <h1>Edit Posts</h1>

    {{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_entity_list', {entity: 'Posts'}) }}">back to listkk</a>

    {{ include('posts/_delete_form.html.twig') }}
{# {% endblock %} #}
{# {% block footer %}{% endblock %} #}
{# {{ block('footer') }} #}
{# {% endblock %} #}