{% extends 'base.html.twig' %}

{# {% block title %}New Posts{% endblock %} #}
{% block nav %}{% endblock %}
{% block body %}
    <h1>Create new Posts</h1>

    {{ include('posts/_form.html.twig') }}

    <a href="{{ path('backoffice_entity_list', {entity:'Posts'}) }}">back to list</a>
{% endblock %}
{% block footer %}{% endblock %}