<h2>here is some statistics and grafics</h2>
Posts: {{postTotal}} <br>
content Types: {{contentTypesTotal}} <br>
Categories: {{categoriesTotal}}
<br>
{# <a href="{{ path('backoffice_entity_list', { entity: 'Posts' }) }}">Posts</a> #}